.hp-navbar{
    width:100%;
    height:68px;
    background:#31397d;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:0 18px;

    position:relative;
}

.hp-left{

    display:flex;
    align-items:center;

    gap:34px;

}

.hp-right{

    display:flex;
    align-items:center;

    gap:20px;

}

.hp-logo{

    width:68px;

    object-fit:contain;

}

.menu{

    color:#fff;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    min-width:82px;

    font-size:13px;

    font-weight:500;

}

.menu svg{

    font-size:19px;

    margin-bottom:3px;

}

.menu:hover{

    color:white;

}

.menu.active{

    font-weight:600;

}

.search-wrapper{

    width:230px;

    height:42px;

    background:#232b69;

    border-radius:25px;

    padding:0 18px;

}

.search-wrapper input{

    flex:1;

    border:none;

    outline:none;

    background:transparent;

    color:white;

    font-size:15px;

}

.search-wrapper input::placeholder{

    color:#cfd3e8;

}

.search-wrapper svg{

    color:#82b7ff;

    font-size:18px;

}

.top-icon{

    color:white;

    font-size:29px;

}

.profile-circle{

    width:40px;

    height:40px;

    border-radius:50%;

    background:#ffd95f;

    display:flex;

    justify-content:center;

    align-items:center;

}

.profile-circle i{

    color:#31397d;

    font-size:22px;

}


/* Options */

.options-wrapper{

    position:relative;
}

.options-btn{

    border:none;
    background:transparent;
}

/* Dropdown */

.options-dropdown{

    position:absolute;

    top:68px;
    left:-10px;

    width:310px;
    max-height:500px;

    overflow-y:auto;

    background:#fff;

    border-radius:0 0 14px 14px;

    box-shadow:0 6px 20px rgba(0,0,0,.18);

    z-index:9999;
}

.options-dropdown div{

    padding:14px 18px;

    font-size:18px;

    color:#1f2d4a;

    cursor:pointer;

    transition:.2s;
}

.options-dropdown div:hover{

    background:#e9f3ff;

    color:#1d64ff;
}

/* Scrollbar */

.options-dropdown::-webkit-scrollbar{

    width:8px;
}

.options-dropdown::-webkit-scrollbar-thumb{

    background:#9ea9bb;

    border-radius:10px;
}

.apps-wrapper{
    position:relative;
}

.apps-dropdown{

    position:absolute;

    top:58px;
    right:-70px;

    width:980px;

    background:#fff;

    border-radius:0 0 10px 10px;

    box-shadow:0 10px 30px rgba(0,0,0,.18);

    display:grid;

    grid-template-columns:repeat(8,1fr);

    gap:18px;

    padding:18px;

    z-index:9999;
}

.app-card{

    width:105px;
    height:95px;

    border-radius:10px;

    cursor:pointer;

    display:flex;
    flex-direction:column;

    align-items:center;
    justify-content:center;

    transition:.25s;
}

.app-card:hover{

    background:#f3f7ff;
}

.app-card img{

    width:48px;
    height:48px;
    object-fit:contain;
}

.app-card span{

    margin-top:10px;

    font-size:15px;

    color:#394867;
}